<div>
  <h3 class="title">Actividades.</h3>
  <div class="inputs ">
    <div class="row">
      <div class="col-sm">
        <input class="form-control" type="date" name="" id="" />
      </div>
      <div class="col-sm">
        <select class="form-control" aria-label="Actuador..." >
          <option disabled selected>Actuadores...</option>
          <option value="1">Bomba</option>
          <option value="2">Ventilador</option>
          <option value="3">Luz UV</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <p class="info">Bomba encendida a las 17:37 horas.</p>
    <small class="danger">Riego importante.</small>
    <hr/>
    <p class="info">Ventilador encendido a 17:37 horas.</p>
    <small class="succes">Ventilación necesaria ocasionalmente.</small>
    <hr/>
    <p class="info">Luz UV encendida a las 20:45 horas.</p>
    <small class="primary">No todas las plantas requerien iluminación artificial.</small>
    <hr/>
  </div>
</div>
