<div class="row justify-content-center mb-2" style="margin-top: -15px">
  <div class="col-6">
    <div class="form">
      <div>
        <label for="flowername" class="form-label">Nombre:</label>
        <input id="flowername" class="form-control" type="text" readonly [(ngModel)]="flowerpot.name">
      </div>
      <div>
        <label for="flowertype" class="form-label">Especie:</label>
        <input id="flowertype" class="form-control" type="text" readonly [(ngModel)]="flowerpot.spice">
      </div>
    </div>
    <button type="button" class="btn btn-info btn-block mt-2" data-toggle="modal"
            data-target="#modalUpdateFlowerpot">Editar
    </button>
  </div>
</div>
<div class="row justify-content-center mb-2">
  <div class="col text-center">
    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalAddSensor">Añadir sensor
    </button>
  </div>
</div>
<div class="row justify-content-center mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" (click)="showDHT();">Sensor de humedad y temperatura</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="showHL69();">Sensor Ultravioleta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="showML85();">Sensor de humedad en tierra</a>
    </li>
  </ul>
</div>
<div class="row text-center">
  <div class="col">
    <div class="container">
      <div class="content-graph">
        <h2 class="title">Graficas y Detalles de Lectura.</h2>
        <div class="graph size-graph mx-auto d-block">
          <div>
            <div>
              <p class="subtitle">Grafica de Lecturas.</p>
              <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="inputs">
          <div class="row">
            <div class="col-sm">
              <input class="form-control" type="date" [(ngModel)]="selectDate"/>
            </div>
            <div class="col-sm">
              <input class="form-control" type="date" [(ngModel)]="selectDate2"/>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-primary mx-auto d-block" style="width: 65%;" mat-button mat-raised-button
                (click)="updateData(); showDHT()">Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="space-info">
  <div class="row">
    <div class="col-sm">
      <div>
        <h3 class="title">Lecturas.</h3>
        <div>
          <p class="btn text-dark" routerLink="sensor-details/{{this.IDDHT}}">
            Temperatura: {{lastTemp}}°C. {{lastTime}} horas</p>
          <hr/>
          <p class="text-dark btn" routerLink="sensor-details/{{this.IDDHT}}">
            Humedad: {{lastHum}}
            %. {{lastTime}} horas</p>
          <hr/>
          <p class="text-dark btn" routerLink="sensor-details/{{this.IDHL}}">Humedad de la
            tierra: {{lastHumG}}%. {{lastTime2}} horas</p>
          <hr/>
          <p class="text-dark btn" routerLink="sensor-details/{{this.IDML}}">Índice
            UV: {{lastluzUV}} {{lastTime3}} horas</p>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAddSensor" tabindex="-1" aria-labelledby="modalAddSensor" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel1">Hola Ruiseco</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
          <div>
            <label for="name" class="form-label">Nombre:</label>
            <input id="name" class="form-control" type="text" [(ngModel)]="sensor.name">
          </div>

          <div>
            <label for="type" class="form-label">Tipo:</label>
            <select id="type" class="form-select form-select-lg mb-3 form-control"
                    aria-label=".form-select-lg example" [(ngModel)]="sensor.type">
              <option value="DHT-11">Humedad y Temperatura</option>
              <option value="HL-69">Humedad del suelo</option>
              <option value="ML85">Ultravioleta</option>
              <option Value="WaterPump">Bomba de agua</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light" (click)="addSensor()" data-dismiss="modal">
          Añadir
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalUpdateFlowerpot" tabindex="-1" aria-labelledby="modalflowerpot" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel2">Editar planta</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
          <div>
            <label for="na" class="form-label">Nombre:</label>
            <input id="na" class="form-control" type="text" [(ngModel)]="flowerpot.name">
          </div>
          <div>
            <label for="sp" class="form-label">Especie:</label>
            <input id="sp" class="form-control" type="text" [(ngModel)]="flowerpot.spice">
          </div>
          <div>
            <label for="categoryedit" class="form-label">Categoria:</label>
            <select id="categoryedit" class="form-select form-select-lg mb-3 form-control"
                    aria-label=".form-select-lg example" [(ngModel)]="flowerpot.category">
              <option value="1">Tropical</option>
              <option value="2">Seco</option>
              <option value="3">Templado</option>
              <option value="4">Frio</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light" (click)="updateFlowerpot()" data-dismiss="modal">
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
