.space-info{
    margin-top: 50px;
    margin-bottom: 100px;
}

.title{
  color: #117c7c;
  font-size: 25px;
  font-weight: 400;
}

.inputs{
  margin-top: 30px;
  margin-bottom: 25px;

}


hr {
  border: none;
  height: 2px; /* Set the hr color */
  color: #ABABAB; /* old IE */
  background-color: #ABABAB; /* Modern Browsers */
}

.info{
  font-size: 20px;
}



.danger{
  color: darkred;
}

.succes{
  color: lime;
}

.primary{
  color: aqua;
}

.information{
  color: deepskyblue;
}

.content-graph{
  margin-top: 25px;
}

.graph{
  margin-top: 25px;
  margin-bottom: 25px;
}

.size-graph{
  width: 85%;
}

.subtitle{
  color: #117c7c;
  font-size: 25px;
}
