
<div class="card" style="border: none;">
  <div class="card-body">
    <h5 class="card-title">Cuida una planta.</h5>
    <p class="card-text">La importancia de las plantas en nuestra vida es vital así que cudia bien de la tuya con Smart Garden. En Smart Garden nos precupamos por cuidar la integridad de las plantas, organiza tus plantas en gardines y cuida de ellas con Smart Garden.</p>
    <p class="card-text"><small class="text-muted">- Smart Garden</small></p>
  </div>
  <img src="assets/img/undraw_outdoors_amdn.svg" style="width: 100%;" class="card-img-bottom" alt="...">
</div>







<br><br><br><br><br>
<div id="divBloqueUno" class="row">
  <div id="divParrafo" class="col text-justify">
    <h3>Acerca de.</h3>
    <p id="parrafoIndex">En esta plataforma podrás encontrar informacion detallada
      de todas las plantas que tengas registradas en cada uno de tus jardines o invernaderos y
      si no estas cerca podrás regarlos de manera remota.</p>
  </div>
  <div id="divImgMaceta" class=""><img src="assets/img/undraw_Gardening_eaf3.svg" id="imagMaceta"></div>
</div>
<br>

<div id="divBloqueDos" class="row">
  <div id="divImgEngrane" class=""><img src="assets/img/undraw_drag_5i9w.svg" id="imagEngrane"></div>
  <div id="divParrafoDos" class="col text-justify">
    <h3>Tecnologicamente potenciado.</h3>
    <p id="parrafoIndexDos">Mediante el uso de tecnologias avanzadas podrás operar tu jardin inteligente
      para monitorear el estado en detalle de tus plantas y la humedad de la tierra en la que se encuentra plantada.
    </p>
  </div>
</div>
<br><br>




