<div><img src="assets/img/invernadero2.jpg" id="imagInvernadero" class="" alt="..."></div>
<br><br>
<div id="divBloqueUno" class="row">
  <div id="divParrafo" class="col text-justify">
    <p id="parrafoIndex">En esta plataforma podrás encontrar informacion detallada
      de todas las plantas que tengas registradas en cada uno de tus jardines o invernaderos y
      si no estas cerca podrás regarlos de manera remota.</p>
  </div>
  <div id="divImgMaceta" class=""><img src="assets/img/maceta.png" id="imagMaceta"></div>
</div>
<br><br><br>

<div id="divBloqueDos" class="row">
  <div id="divImgEngrane" class=""><img src="assets/img/configuracion-gear.png" id="imagEngrane"></div>
  <div id="divParrafoDos" class="col text-justify">
    <p id="parrafoIndexDos">Mediante el uso de tecnologias avanzadas podrás operar tu jardin inteligente
      para monitorear el estado en detalle de tus plantas y la humedad de la tierra en la que se encuentra plantada.
    </p>
  </div>
</div>
<br><br>
<footer>

  <div id="divBloqueTres" class="row">
    <div id="divImgEnexus" class=""><img src="assets/img/descarga.png" id="imagEnexus"></div>
    <div id="divParrafoTres" class="col text-justify">
      <h5 class="text-center"><b>¿Quienes somos?</b></h5>
      <br>
      <p id="parrafoIndexTres">Somos una microempresa que busca incursionar en el mundo laboral dándonos a conocer
        gracias a nuestro trabajo y dedicación hacia nuestros clientes.
      </p>
    </div>
    <div id="" class="col">
      <div id="divParrafoCuatro" class="text-justify">
        <h5 class="text-center"><b>Misión y visión</b></h5>
        <br>
        <p id="parrafoIndexCuatro">Servir a nuestros clientes de la mejor manera y que cada trabajo sea de la
          mejor calidad <br><br>
          Ser una empresa reconocida por nuestro esfuerzo, dedicación y profesionalismo.
        </p>
      </div>
    </div>
    <div class="col">
      <p id="siguenos" class="text-center"><b>Siguenos en...</b></p>
      <br>
      <div id="divRedes" class="row"><img src="assets/img/twitter-logo-2-1.png" id="twitter">
        <img src="assets/img/1200px-Facebook_f_logo_(2019).svg.png" id="facebook">
        <img src="assets/img/580b57fcd9996e24bc43c521.png" id="insta"></div>
    </div>
  </div>

</footer>
