.parrafoIndex{
  text-align: justify;
}
#imagInvernadero{
  background-repeat: no-repeat;
  background-attachment:fixed;
  width: 100%;
  height: 200px;
}

#imagMaceta{
  width: 250px;
  height: 250px;
  float: right;
}
#divBloqueUno{
  /*background-color: lightseagreen;*/
  padding: 5px 125px 5px 5px;
}
#divParrafo{
  /* background-color: khaki;*/
  padding-right: 110px;
  padding-top: 70px;
  font-size: 18px;
}

#imagEngrane{
  width: 250px;
  height: 250px;
  float: right;
}
#divBloqueDos{
  /* background-color: lightseagreen;*/
  padding: 5px 125px 5px 5px;
}
#divParrafoDos{
  /*background-color: khaki;*/
  padding-left: 110px;
  padding-top: 70px;
  font-size: 18px;
}

#divBloqueTres{
  padding:20px 20px 20px 20px;
  background-color: rgba(189, 110, 73, 0.987);
  color: white;
}
#siguenos{
  font-size: 18px;
}

#twitter{
  /*background-color: silver;*/
  width: 40px;
  height: 40px;
  margin-right: 40px;
}
#facebook{

  width: 40px;
  height: 40px;
  margin-right: 45px;
}
#insta{
  width: 40px;
  height: 40px;
}

#divParrafoTres{
  font-size: 15px;
  padding: 0px 30px 0px 30px;
}
#divParrafoCuatro{
  font-size: 15px;
  padding: 0px 20px 10px 20px;
}
#divRedes{

  padding: 5px 50px 5px 90px;
}
