<div class="row justify-content-center">
  <div class="col-11 col-md-6">
    <div class="card grad text-dark" style="height: 61.5vh">
      <div class="card-header x ml-2">
        <img src="assets/img/account_circle.png" style="width: 40px; height: 40px; align-self: center" alt="login">
      </div>
      <div class="card-body">
        <h1>Login</h1>
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
          <div class="form-group mb-3">
            <input type="text" placeholder="Email" class="form-control form-pretty" formControlName="email"
                   [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}">
            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
              <div *ngIf="form.get('email').errors.required">Email is required</div>
              <div *ngIf="form.get('email').errors.email">Email must be a valid email addres</div>
            </div>
          </div>
          <div class="form-group mb-5">
            <input type="password" placeholder="Password" class="form-control form-pretty" formControlName="password"
                   [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid}">
            <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
              <div *ngIf="form.get('password').errors.required">Password is required</div>
            </div>
          </div>

          <button [disabled]="!form.valid" class="btn btn-block text-light" style="background: saddlebrown">
            LogIn
          </button>
          <div class="text-center mb-5">
            <label *ngIf="message" class="text-danger" style="font-size: 1.3em">{{message}}</label>
          </div>
          <a name="singin" [routerLink]="['/register']" class="text-info text-center ml-1">Crear cuenta nueva</a>
        </form>
      </div>
    </div>
  </div>
</div>
