<div class="row mb-3">
  <div class="col text-center"><h2>Detalles del sensor</h2></div>
</div>
<div class="row mb-5">
  <div class="col-4">
    <div class="form">
      <div>
        <label for="flowerpot" class="form-label">Planta:</label>
        <input id="flowerpot" class="form-control" type="text" readonly [(ngModel)]="flowerpot.name">
      </div>
      <div>
        <label for="name" class="form-label">Nombre:</label>
        <input id="name" class="form-control" type="text" readonly [(ngModel)]="data.data.name">
      </div>
      <div>
        <label for="type" class="form-label">Tipo:</label>
        <input id="type" class="form-control" type="text" readonly [(ngModel)]="data.data.type">
      </div>
    </div>
  </div>
  <div class="col-8">
    <app-bar-chart [data]="data"></app-bar-chart>
  </div>
</div>
<div class=" row mb-3
    ">
  <div class="col text-center">
    <h3>TABLE</h3>
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-8 text-center">
    <h5>Seleccion de Fecha</h5>
    <input class="form" type="date" [(ngModel)]="selectDate"/>
    <button class="btn btn-primary ml-3" (click)="update()">Actualizar</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table-responsive"></div>
    <table class="table" style="overflow-y: scroll; height: 100px">
      <tr class="text-info">
        <td>Temperatura</td>
        <td>Humedad</td>
        <td>Fecha/Hora</td>
      </tr>
      <tr *ngFor="let data of measures">
        <td>{{data.measurements.temperature}}°C</td>
        <td>{{data.measurements.humidity}}%</td>
        <td>{{data.created_at.slice(0, 10)}} {{data.created_at.slice(11, -5)}}</td>
      </tr>
    </table>
  </div>
</div>
